<div class="d-flex flex-row h-750px">
    <div class="bg-product w-50 d-flex flex-column align-items-center justify-content-end p-5 product-border">
        <div class="border rounded w-100 h-100 d-flex justify-content-center pb-5 align-items-end">
            <a href="{{ url_for('coming') }}"><div class="text-uppercase text-light font-noto mb-5" style="font-size: 200%">Sản phẩm</div></a> 
        </div>
    </div>
    <div class="bg-product2 w-50 d-flex flex-column align-items-center justify-content-end p-5 product-border">
        <div class="border rounded w-100 h-100 d-flex justify-content-center pb-5 align-items-end">
            <a href="{{ url_for('coming') }}"><div class="text-uppercase text-light font-noto mb-5" style="font-size: 200%">Thư viện</div></a> 
        </div>
    </div>
</div>