<div class="bg-dark text-white footer-border d-flex align-items-center justify-content-between" style="height:100px">
    <div class="ml-4 noto-sans">
        Copyright © 2018 TechKids. All Rights Reserved.
    </div>
    <div class="mr-4 d-flex flex-column justify-content-around col-md-4.5">
        <div class="noto-sans">
            <i class="fab fa-telegram"> Liên hệ: </i>
        </div>
        <div class="noto-sans">
            <i class="fas fa-map-marker-alt"> Tầng 6, nhà C, tòa nhà Chigamex - 22 Thành Công, Ba Đình, Hà Nội </i> 
        </div>
        <div class="noto-sans">
            <i class="fas fa-envelope-square"> Email: Techkidsvn@gmail.com</i>   
        </div>
    </div>
</div>