<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài viết mới</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% include "nav-bar.html" %}
    <div class="d-flex">
        {% include "vertical-bar.html" %}
        <div class="container">
            <h1>Chỉnh sửa bài viết</h1>
            <form method="POST">
                <label>Tiêu đề</label>
                <br>
                <textarea type="text" name="title" style="width: 70%"></textarea>
                <br>
                <label>Sapo</label>
                <br>
                <textarea type="text" name="sapo" style="width: 70%"></textarea>
                <br>
                <label>Thumbnail</label>
                <br>
                <textarea type="text" name="thumbnail" style="width: 70%"></textarea>
                <br>
                <label>Nội dung</label>
                <br>
                <textarea type="text" name="content" style="width: 70%; height: 300px"></textarea>
                <br>
                <label>Tác giả</label>
                <br>
                <textarea type="text" name="author" style="width: 70%"></textarea>
                <br>
                <label>Mục</label>
                <br>
                <input type="radio" value="Tech" name="category">Tech
                <input type="radio" value="Games" name="category">Games
                <input type="radio" value="Film" name="category">Film
                <br>
                <input type="submit" value="Thêm">
            </form>
            <div class="h-100px"></div>
        </div>
    </div>
</body>
</html>